#movie-content{

    background-color:gray;
    color: black;
    

}
#rating{
    background-color: rgb(212, 212, 207);
    color: black;
}

#drink-content{
    background-color: rgb(212, 212, 207);
}

#food-content{
    background-color: rgb(212, 212, 207);
}