/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Marko One', serif; */
/* font-family: 'Playball', cursive; */

#WelcomeModal .header {
    text-align: center;
    margin: auto;
    font-family: 'Courgette', cursive;
    font-size: 40pt;
}

#WelcomeModal #logoImg {
    margin: auto;
}

.ui.form .inline.fields>label {
    display: flex;
    margin: 0 0 3% 0;
    font-size: 16px;
}

/* i.icon {
    font-size: 1.3em;
} */