.text-center>img {
    margin: auto;
    padding: .25rem;
    max-width: 50%;
    height: auto;
    display: block;
}

form {
    margin-top: 10%;
}

.modal-body {
    font-family: 'Montserrat', sans-serif;
}

.modal-title {
    font-family: 'Marko One', serif;
    margin: auto;
}