/* Elements */
body {
    background-color: lightslategrey;
}

div.movie {
    padding-left: -3%;
}

img#gameImg {
    border: 10px solid black;
}


/* IDs */
#movieDisplay {
    max-width: 65vw;

}

#foodDisplay,
#drinkDisplay {
    max-height: 65vh;
    overflow-y: scroll;
}

#drink-ingredients {
    font-family: 'Montserrat', sans-serif;
}

a,
#readMore0,
#readMore1,
#readMore2,
#readMore3,
#finalSubmission,
.modal-footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
    font-size: medium !important;
}

#drink-name,
#food-name {
    font-family: 'Marko One', serif;
}

#readMore0,
#readMore1,
#readMore2,
#readMore3 {
    margin: auto;
}

#next {
    text-align: right;
}

#userSelectionArea .select {
    display: none;   
}

#carouselMeals, #carouselDrinks, #carouselMovies {
    margin-top: 50px;
    text-align: center;
    font-family: 
}

#movie-title {
    font-family: 'Marko One', serif;
}


/* Classes */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #e9ecef;
}

.card {
    height: 600px;
    overflow: auto;
}

.card-img-top {
    max-width: 200px;
}

.type {
    font-weight: 600;
    color: crimson;
    font-style: italic;
}

.extra {
    background-color: rgb(212, 212, 207);
    color: black;
}

.content {
    background-color: gray;
    color: black;
}

.landing-image {
    background-image: url('inside-theater.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 1%;
}

.container {
    max-width: 80%;
    border-radius: 20px;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.548);
    height: 95vh;
}

.image-holder {
    border: 1px solid black;
}
