body {
    background-color: lightslategrey;
}

div.movie {
    padding-left: -3%;
}

img#gameImg {
    border: 10px solid black;
}

legend {
  text-align: left;
}

h2 {
  padding: 20px;
  text-align: center;
}

#movieDisplay {
    max-width: 65vw;

}

#foodDisplay,
#drinkDisplay {
    max-height: 65vh;
    overflow-y: scroll;
}

#drink-ingredients {
    font-family: 'Montserrat', sans-serif;
}

a,
#finalSubmission,
.modal-footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
    font-size: medium !important;
}

#drink-name,
#food-name {
    font-family: 'Marko One', serif;
}

#next {
    text-align: right;
}

#movie-content, #drink-content, #food-content {
    margin-top: 50px;
    text-align: center;
}

#movie-title {
    font-family: 'Marko One', serif;
}

#poster {
  max-width: 200px !important;
}

#userFoodChoice button {
  display: none;
}

#userMovieChoice button {
  display: none;
}

/* #userMovieChoice .selectBtn {
  display: none !important;
} */

#userDrinkChoice button {
  display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #e9ecef;
}

.form-check {
  text-align: left;
}

.opacity {
  background-color: rgba(255, 255, 255, 0.664)
}

.card {
    height: 400px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.664);
    align-items: center;
}

#carouselMeals .card, #carouselDrinks .card{
  height: 400px;
  padding: 10px;
}

.card-img-top {
    max-width: 200px;
}

.type {
    font-weight: 600;
    color: crimson;
    font-style: italic;
}

.extra {
    background-color: rgb(212, 212, 207);
    color: black;
}

.content {
    background-color: gray;
    color: black;
}

.landing-image {
    /* background-image: url('inside-theater.png'); */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 110vh;
    width: 100%;
    padding: 1%;
}

.container {
    max-width: 80%;
    border-radius: 20px;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.548);
    height: 95vh;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.719);
}

.modal-body {
  text-align: center;
}

/* Social Sharing Buttons */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}


.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}


.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}